@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(8, 8, 8, 0.9);
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #e7e7e7;
  border-radius: 8px;
  border: 3px solid rgba(8, 8, 8, 0.9);
}

@supports (scrollbar-color: rgba(8, 8, 8, 0.9) #e7e7e7) {
  * {
    scrollbar-color: #e7e7e7 rgba(8, 8, 8, 0.9);
    scrollbar-width: thin;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  --header-height-px: calc(var(--header-height) * 1px);
  --color-green: rgb(96, 173, 41);
  --color-green-faded: rgba(96, 173, 41, 0.15);
  --color-blue: rgb(229, 238, 255);
  --color-orange: rgb(233, 107, 0);
  --color-orange-faded: rgba(233, 107, 0, 0.15);
  --color-gray: rgb(77, 84, 82);
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(0, 0, 0);
  --color-dark: rgb(27, 27, 29);
  --color-dark-fade: rgb(27, 27, 29, 0.7);
  --font-body: var(--font-inter);
  --font-title: var(--font-montserrat);
  --font-cta: var(--font-inter);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

i.symbol {
  font-family: var(
    --font-family-symbols
  ); /* Variable declared in local font configuration */
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

img {
  width: 100%;
  height: auto;
}

.main-wrapper {
  max-width: 100vw;
  background-color: var(--color-dark);
  /* overflow-x: hidden; */
}

.main-content-container {
  position: relative;
  margin-top: var(--header-height-px);
}

.main-content-container.contact {
  margin-top: 0;
}

.main-content {
  padding: 0;
  /* background-color: var(--color-dark); */
}

.whatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

/* <Placeholder /> */
.placeholder-container {
  width: 100%;
  border: 2px solid tomato;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.placeholder-content {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.placeholder-content:first-child .placeholder-item:first-child {
  flex-basis: 100%;
}

.placeholder-item {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid tomato;
}

.placeholder-item .symbol {
  color: tomato;
  font-size: calc(3rem + 10vw);
}

/* animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translate3d(-5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-right {
  from {
    opacity: 0;
    transform: translate3d(5%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes cta-h2 {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  20% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  40% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  50% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }

  70% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  90% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }

  100% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
}

@keyframes cta-p {
  0% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  10% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  40% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  45% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  55% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  60% {
    opacity: 0;
    transform: translate3d(0, 5%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slider-active {
  0% {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slider-not-active {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: scale(1, 1);
    transform-origin: center left;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 0;
    transform: translate3d(-30%, 0, 0);
  }

  99% {
    opacity: 0;
    transform: translate3d(-120%, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }
}

@keyframes slider-active-inverted {
  0% {
    opacity: 0;
    transform: translate3d(-120%, 0, 0);
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slider-not-active-inverted {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transform: scale(1, 1);
    transform-origin: center right;
  }

  10% {
    opacity: 0;
  }

  30% {
    opacity: 0;
    transform: translate3d(30%, 0, 0);
  }

  99% {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(120%, 0, 0);
  }
}

.fade-in {
  animation: fade-in forwards ease 1s;
}

.fade-up {
  animation: fade-up forwards ease 1s;
}

.fade-down {
  animation: fade-down forwards ease 1s;
}

.fade-right {
  animation: fade-right forwards ease 1s;
}

.fade-left {
  animation: fade-left forwards ease 1s;
}

/* @keyframes fade-in-right {
  from {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
} */

/* <CTA /> */
.cta-container {
  position: relative;
  width: 100%;
  height: 60vh;
  padding: 0;
  background-color: white;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("/promocion1.webp");
  background-position: 25% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.cta {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(0.4rem + 1vw) calc(0.8rem + 1vw);
  flex-basis: 50%;
  gap: 5px;
  background-color: rgb(233, 107, 0, 0.95);
  z-index: 9;
  transition: 0.3s ease all;
}

.cta:hover {
  background-color: rgb(244, 114, 0);
}

.cta-text {
  color: var(--color-white);
  font-family: var(--font-montserrat);
  text-align: center;
  position: relative;
  z-index: 9;
  flex-basis: 20%;
}

.cta-text h2 {
  font-weight: 300;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  animation: cta-h2 13s ease-in-out infinite;
}

.cta-text h2 strong {
  color: var(--color-green);
  font-weight: 600;
}

.cta-text p {
  position: absolute;
  font-size: 1.2rem;
  inset: 0;
  opacity: 0;
  animation: cta-p 13s ease-in-out infinite;
  animation-delay: 6s;
}

.cta-text p strong {
  color: var(--color-green);
}

.cta-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba(28, 34, 30, 0.7) 0%,
    #161716de 100%
  );
  z-index: 8;
}

.cta-img {
  position: relative;
  z-index: 7;
}

.cta span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  gap: 5px;
  color: var(--color-white);
  /* background-color: var(--color-orange); */
  font-family: var(--font-inter);
  border-radius: 100vw;
}

.cta span {
  position: relative;
  /* text-decoration: underline; */
  transition: 0.3s ease all;
  font-size: 1rem;
}

.cta span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  top: 110%;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.3s ease transform;
}

.cta .symbol {
  color: var(--color-white);
  font-weight: 200;
  font-size: 1.5rem;
  transition: 0.3s ease all;
}

.cta:hover .symbol {
  transform: translate3d(10%, 0, 0);
}

.cta:hover span {
}

/* <Social /> */
.social-links-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  margin: 5px;
  padding: 5px;
}

.icon-container a {
}

.icon-container svg {
  height: 30px;
  width: 30px;
  fill: white;
}

.icon-container:hover svg {
  fill: #f0f0f0;
}

/* <Languages /> */
.language-container {
  width: fit-content;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: transform 0.3s ease 0.15s, opacity 0s ease 0s;
}

.language-btn-container {
  position: relative;
  z-index: 99;
}

.language-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.language-btn .symbol,
.language {
  color: #f0f0f0;
}

.language-menu-container {
  position: absolute;
  top: 100%;
  left: 10%;
  margin-top: 5px;
  border-radius: 2%;
  transform: translate3d(0, -10%, 0);
  box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.2);
  display: none;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.menu-open {
  display: block;
  animation: fade-down 0.3s ease both;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.language-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language-menu button {
  background-color: #f0f0f0;
  color: black;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.language-menu button:hover {
  background-color: #e0e0e0;
}

/* <Header /> */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(8, 8, 8, 1);
  z-index: 999;
  transition: 0.3s all ease;
}

.header.scrolled {
  background-color: rgba(8, 8, 8, 0);
}

.header.contact {
  background-color: rgba(8, 8, 8, 0);
}

.logo-container {
  width: 200px;
}

/* <MainNav /> */
.nav-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--color-gray);
  opacity: 0.1;
  filter: blur(10px);
  z-index: 9999;
}

.menu-btn {
  font-family: var(--font-body);
  font-weight: 600;
  padding: 10px;
  display: inline-block;
  background-color: var(--color-white);
  color: rgba(8, 8, 8, 1);
  z-index: 999;
}

.esc-btn {
  z-index: 999;
  opacity: 0;
  transition: opacity 0s ease;
}

.esc-btn.active {
  opacity: 1;
  transition: opacity 0.35s ease;
}

.esc-btn i {
  color: white;
  font-size: 3rem;
  font-weight: 200;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform: translate3d(110%, 0, 0);
  background-color: rgba(8, 8, 8, 1);
  transition: transform 0.35s cubic-bezier(0.215, 0.61, 0.355, 1);
  z-index: 99999;
}

.main-nav .nav-items .footer-link {
  display: none;
}

.nav-active {
  transform: translate3d(0, 0, 0);
}

.nav-items-container {
  width: 100%;
  height: 100%;
  padding: calc(5px + 5vw);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: 0.15s ease transform, opacity 0s ease;
}

.fade-in-right {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.15s ease, opacity 0.78s ease;
}

.nav-items {
  color: white;
  margin-bottom: 20px;
  position: relative;
}

.nav-item {
  position: relative;
  padding: 10px;
  font-size: 2rem;
  font-weight: 200;
  margin-top: 15px;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transform-origin: left;
  background-color: white;
  transition: 0.5s ease all;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

.nav-secondary-items {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-secondary-items:first-child {
  justify-self: flex-start;
}

/* <LandingPage /> */
.landing-wrapper {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  background-image: url("/webpImages/landing.webp");
  background-size: cover;
  background-position: center;
  background-color: white;
  background-blend-mode: hard-light;
  filter: blur(1px);
}

.landing-overlay {
  position: absolute;
  inset: 0;
  background-color: #292929da;
  filter: blur(0.5px);
}

.landing-container {
  position: absolute;
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  inset: 0;
  max-width: 800px;
  padding: 20px;
  z-index: 99;
  color: white;
}

.landing-container h1 {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.1;
  margin: 20px 0;
}

.landing-container p {
  margin: 10px 0;
  line-height: 1.3;
}

.landing-container hr {
  width: 100%;
}

.logo {
  width: 100%;
  height: auto;
}

/* .landing-btn {
  width: 100%;
  height: 100%;
} */

.landing-btn {
  padding: 10px 15px;
  margin: 10px;
  font-weight: 700;
  font-size: 1.1rem;
  border-radius: 100vw;
  border: 2px solid white;
  background-color: rgb(18, 140, 126);
  text-align: center;
}

.landing-container footer {
  align-self: flex-end;
  text-align: center;
}

.footer-copyright {
  margin: 10px 0;
}

.footer-copyright span {
  width: 100%;
  display: block;
  text-align: center;
}

/* <Home /> */
.home-intro {
  position: relative;
  width: 100%;
}

.reel-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

.reel-cta {
  position: relative;
  z-index: 99;
  max-width: 900px;
  margin: 0 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  opacity: 0;
}

.reel-h1 {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0; */
}

.reel-h1 h1 {
  color: var(--color-white);
  font-size: 2rem;
  font-family: var(--font-title);
  text-align: center;
  line-height: 1.3;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.reel-cta .cta {
  position: relative;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  width: fit-content;
}

.reel-item {
  position: absolute;
  inset: 0;
  transition: transform 0.025s ease, opacity 0.5s ease;
}

.reel-item video {
  object-fit: cover;
  height: 100%;
}

.slider-item-container {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(250px + 15vw);
}

.slider-item[data-inverted="false"] {
  transform: translate3d(120%, 0, 0);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transition: opacity 1s ease, transform 0s ease;
  animation: slider-not-active 0.7s ease forwards;
}

.slider-item-active[data-inverted="false"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: slider-active 0.7s ease forwards;
}

.slider-item[data-inverted="true"] {
  transform: translate3d(120%, 0, 0);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 1s ease, transform 0s ease;
  animation: slider-not-active-inverted 0.7s ease forwards;
}

.slider-item-active[data-inverted="true"] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  animation: slider-active-inverted 0.7s ease forwards;
}

.slider-item-active img,
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0;
}

.slider-buttons {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50%;
  width: 100%;
  z-index: 99;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-buttons.desktop {
  display: none;
}

.slider-buttons.mobile {
  display: flex;
}

.slider-buttons button:first-child {
  transform: rotate(180deg);
}

.slider-buttons button .symbol {
  background-color: #9090905a;
}

.slider-buttons button:hover .symbol {
  background-color: #6161615a;
}

.slider-buttons .symbol {
  color: white;
  font-weight: 200;
  font-size: 2.5rem;
}

.intro-desc-container {
  --desc-width-px: calc(var(--desc-width) * 1px);
  width: 100%;
  position: relative;
  padding: 4rem 0;
  background-color: var(--color-dark);
  overflow: hidden;
}

/* Dots */
.dots {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  background-color: var(--color-white);
  opacity: 0;
  width: 30vw;
  height: 20vw;
}

.dot.one {
  animation: dot-one 10s ease infinite forwards;
  animation-delay: 0s;
}

.dot.two {
  animation: dot-two 15s ease infinite forwards;
  animation-delay: 0.7s;
}

.dot.three {
  animation: dot-three 18s ease infinite forwards;
  animation-delay: 0s;
}

.dot.four {
  animation: dot-four 12s ease infinite forwards;
  animation-delay: 1s;
}

.dot.five {
  animation: dot-five 14s ease infinite forwards;
  animation-delay: 2s;
}

.dot.six {
  animation: dot-six 11s ease infinite forwards;
  animation-delay: 1.5s;
}

.dot.seven {
  animation: dot-seven 13.5s ease infinite forwards;
  animation-delay: 0s;
}

.dot.eight {
  animation: dot-eight 16.4s ease infinite forwards;
  animation-delay: 0.4s;
}

/* .dot.nine {
  animation: dot-nine 15s ease infinite forwards;
}

.dot.ten {
  animation: dot-ten 17s ease infinite forwards;
} */

@keyframes dot-one {
  from {
    opacity: 0;
    top: 10%;
    left: -30%;
    transform: scale(2);
  }

  50% {
    opacity: 0.05;
  }

  to {
    opacity: 0;
    top: 10%;
    left: 100%;
    transform: scale(1);
  }
}

@keyframes dot-two {
  from {
    opacity: 0;
    top: -30%;
    left: 30%;
    transform: scale(1);
  }

  50% {
    opacity: 0.1;
  }

  to {
    opacity: 0;
    top: 100%;
    left: 30%;
    transform: scale(1.3);
  }
}

@keyframes dot-three {
  from {
    opacity: 0;
    top: 50%;
    left: 100%;
    transform: scale(1.5);
  }

  50% {
    opacity: 0.04;
  }

  to {
    opacity: 0;
    top: 50%;
    left: -30%;
    transform: scale(1.1);
  }
}

@keyframes dot-four {
  from {
    opacity: 0;
    top: 90%;
    left: 70%;
    transform: scale(1.8);
  }

  50% {
    opacity: 0.07;
  }

  to {
    opacity: 0;
    top: 0%;
    left: 70%;
    transform: scale(1.2);
  }
}

@keyframes dot-five {
  from {
    opacity: 0;
    top: 90%;
    left: 40%;
    transform: scale(1);
  }

  50% {
    opacity: 0.034;
  }

  to {
    opacity: 0;
    top: 0%;
    left: 40%;
    transform: scale(0.5);
  }
}

@keyframes dot-six {
  from {
    opacity: 0;
    top: 70%;
    left: -30%;
    transform: scale(0.4);
  }

  50% {
    opacity: 0.089;
  }

  to {
    opacity: 0;
    top: 70%;
    left: 100%;
    transform: scale(1.2);
  }
}

@keyframes dot-seven {
  from {
    opacity: 0;
    top: -30%;
    left: -30%;
    transform: scale(1.1);
  }

  50% {
    opacity: 0.015;
  }

  to {
    opacity: 0;
    top: 100%;
    left: 100%;
    transform: 1.2;
  }
}

@keyframes dot-eight {
  from {
    opacity: 0;
    top: 70%;
    left: 90%;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.058;
  }

  to {
    opacity: 0;
    top: -10%;
    left: 10%;
    transform: scale(1.4);
  }
}

/* @keyframes dot-two {
  from {
    opacity: 0.15;
    top: -30%;
    left: 30%;
  }

  to {
    opacity: 0;
    top: 100%;
    left: 30%;
  }
}

@keyframes dot-two {
  from {
    opacity: 0.15;
    top: -30%;
    left: 30%;
  }

  to {
    opacity: 0;
    top: 100%;
    left: 30%;
  }
}
 */

.intro-desc-wrapper {
  position: relative;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  gap: 2rem;
}

.intro-desc {
  position: relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-basis: 50%;
  z-index: 99;
}

.intro-desc-text {
  flex-basis: 50%;
  position: relative;
  color: var(--color-white);
}

.intro-desc-text .cta {
  position: relative;
  width: 100%;
}

.intro-desc-wrapper .cta,
.intro-desc-wrapper a {
  position: relative;
  width: 100%;
}

.intro-desc-text h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-title);
  margin-bottom: 1rem;
}

.intro-desc-text p {
  font-size: 0.9rem;
  font-family: var(--font-body);
  text-align: justify;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.projects-container {
  position: relative;
  width: 100%;
  height: calc(1800px + 25vw);
  background-color: var(--color-dark);
}

.projects {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  padding: 0 1rem;
}

.projects-item {
  position: relative;
  overflow: hidden;
}

.projects-item-img {
  position: absolute;
  inset: 0;
  transition: 0.3s ease all;
}

.projects-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-img-filter {
  position: absolute;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.35);
  transition: all ease 0.3s;
}

.projects-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-white);
  padding: 0 1.5rem 1rem 1.3rem;
}

.projects-item-text h3 {
  font-family: var(--font-oswald);
  font-size: 1.3rem;
  margin-bottom: 5px;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: all 0.3s ease;
}

.projects-item-text h2 {
  font-family: var(--font-montserrat);
  font-size: 1.6rem;
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
  transition: all 0.3s ease 0.3s;
}

h3.text-inview,
h2.text-inview {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.projects-item-img.inview {
  transform: scale(1.04) translate3d(calc(1px + 0.5vw), 0px, 0);
}

.projects-img-filter.inview {
  background-color: rgba(8, 8, 8, 0.2);
}

.partners-container {
  padding: 4rem 0;
  overflow-x: hidden;
  background-color: var(--color-dark);
  color: var(--color-white);
}

.partner-items-container {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.partner-items:first-child {
  display: grid;
  width: 100%;
  flex-basis: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  animation: partner-items 20s forwards infinite linear;
}

.partner-items:nth-child(2) {
  display: grid;
  width: 100%;
  flex-basis: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  animation: partner-items 20s forwards infinite linear;
}

.partner-items-container:hover .partner-items:first-child,
.partner-items-container:hover .partner-items:nth-child(2) {
  animation-play-state: paused;
}

@keyframes partner-items {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.partner-item {
  width: 30vw;
  position: relative;
}

.partner-item-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
  background-blend-mode: multiply;
}

.partners-heading {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 0 2rem;
  font-family: var(--font-title);
  color: var(--color-white);
  font-weight: 700;
}

.partners-heading h3 {
  margin-top: 5px;
  font-size: 1.2rem;
  font-family: var(--font-inter);
  color: rgb(252, 252, 252);
  font-weight: 300;
}

.destacados-container {
  padding: 4rem 0;
  background-color: var(--color-dark);
}

.destacados-heading {
  text-align: start;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 0 2rem;
  font-family: var(--font-title);
  color: var(--color-white);
  font-weight: 700;
}

.destacados {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.destacados-item {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.destacados-item.expanded {
  height: 300px;
}

.destacados-item.expanded .destacados-text {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.destacados-item.collapsed {
  height: 70px;
}

.destacados-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.35);
  z-index: 99;
  transition: all 0.5s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.destacados-item.expanded .destacados-overlay {
  background-color: rgba(8, 8, 8, 0.15);
}

.destacados-item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expand-item {
  z-index: 99;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  transition: all 0.5s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.expand-item-icon {
  position: relative;
  display: block;
  width: 25px;
  height: 2px;
  background-color: white;
  transform: rotate(-90deg);
  transition: all 0.4s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.expand-item-icon:after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: white;
  transform: rotate(90deg) scale(1);
  transition: all 0.4s cubic-bezier(0.28, -0.03, 0, 0.99);
}

.destacados-item.expanded .expand-item-icon::after {
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
}

.destacados-item.expanded .expand-item-icon {
  transform: rotate(0deg);
}

/* .expand-item .symbol {
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 200;
} */

.destacados-img {
  position: absolute;
  inset: 0;
}

.destacados-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destacados-text {
  max-width: 600px;
  height: 100%;
  padding: 2rem;
  color: white;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  transition: opacity 0.2s ease;
}

.destacados-text h2 {
  font-size: 2rem;
  font-family: var(--font-title);
  font-weight: 700;
  margin-bottom: 1rem;
}

.destacados-text p {
  font-size: 1rem;
  font-weight: 300;
}

.destacados .video-container {
  max-width: 100%;
  flex-basis: 50%;
}

.destacados .video-container iframe {
  width: 560px;
  height: 315px;
  max-width: 100%;
  margin: auto;
  box-shadow: 1px 3px 6px 2px rgba(0, 0, 0, 0.2);
}

/* <AboutPage /> */

/* <ContactPage /> */

.contact-info-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-container.contact {
  width: 100%;
  height: 100%;
}

.contact-info-wrapper .main-wrapper {
  width: 100%;
  height: 100%;
}

.contact-info-wrapper .main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contact-overlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    180deg,
    rgba(32, 32, 32, 0.902) 0%,
    #1f202024 100%
  );
  z-index: 99;
}

/* .contact-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, var(--color-dark) 10%, transparent 100%);
  width: 100%;
  height: 30px;
  z-index: 99;
} */

.contact-img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 35%;
}

.contact-img {
  position: absolute;
  inset: 0;
}

.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-info-wrapper .footer-copyright {
  color: white;
}

.contact-info-wrapper .footer-copyright span {
  text-align: start;
}

.contact-info-container {
  padding: 2rem 1rem;
  color: white;
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-social-container .icon-container svg {
  fill: var(--color-white);
  width: 20px;
  height: 20px;
}

.contact-social-container .social-links-container {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 2rem;
  color: white;
}

.contact-info-item a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.contact-social-container .icon-container a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.contact-social-container .icon-container {
  margin-bottom: 1rem;
}

.contact-social-container h2 {
  margin-bottom: 20px;
}

.contact-info-container,
.footer-copyright {
  z-index: 99;
}

.contact-info-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
  font-family: var(--font-montserrat);
}

/* <ServicesPage /> */
.services-container {
  position: relative;
  width: 100%;
}

.services {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.services-nav-container {
  width: 100%;
}

.services-nav-container select {
  width: 100%;
  height: 50px;
}

.services-item {
  position: relative;
  width: 100%;
  height: 80vh;
}

.services-item-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.35);
}

.services-item-img {
  position: absolute;
  inset: 0;
}

.services-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-item-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.services-item-menu ul {
  color: var(--color-white);
  font-family: var(--font-montserrat);
}

.services-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: var(--color-white);
}

.services-item-text h2 {
  font-size: 1.3rem;
}

/* <ProjectsPage /> */

/* <Footer /> */
.footer {
  width: 100%;
  overflow-x: hidden;
  background-color: rgba(8, 8, 8, 1);
  padding: 4rem 0;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.footer-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-nav .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 0px;
}

.footer-nav .nav-item {
  font-size: 0.8rem;
  margin-top: 0;
}

.footer-info-container .icon-container svg {
  height: 20px;
  width: 20px;
}

.footer .footer-copyright {
  color: white;
  font-size: 0.8rem;
}

/* Media Queries */
@media screen and (min-width: 991px) {
  /* global styles */
  .main-content {
    padding: 0;
  }

  .main-content-container {
    position: relative;
  }

  .whatsapp {
    width: 60px;
    height: 60px;
    bottom: 50px;
    right: 50px;
  }

  /* <CTA /> */
  .cta-text h2 {
    font-size: 2.5rem;
  }

  .cta-text p {
    font-size: 1.8rem;
  }

  .cta span {
    font-size: 1.3rem;
  }

  .cta span::after {
    transform: scale(0, 1);
  }

  .cta:hover span::after {
    transform: scale(1, 1);
  }

  .cta .symbol {
    font-size: 2rem;
  }

  .cta {
    padding: calc(0.4rem + 0.7vw) calc(0.8rem + 0.7vw);
  }

  .cta-container {
    padding: 8rem 4rem;
    background-image: url("/cta-bg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark);
  }
  /* 
  .cta-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
    background-image: linear-gradient(
      to left,
      rgb(255, 255, 255) 30%,
      transparent 100%
    );
    z-index: 8;
  } */

  /* <Header /> */
  .header {
    padding: 2rem 1rem;
  }

  .logo-container {
    width: 300px;
  }

  /* <MainNav /> */
  .main-nav {
    width: 480px;
    background-color: rgba(8, 8, 8, 1);
  }

  .nav-items-container {
    padding: 2rem;
  }

  .nav-item {
    margin-top: 30px;
    font-size: 2.5rem;
  }

  /* <LandingPge /> */
  .landing-container h1 {
    font-size: 3rem;
  }

  .landing-container p {
    font-size: 1.2rem;
  }

  .landing-btn {
    font-size: 1.3rem;
  }

  /* <Home /> */
  .slider-item-container {
    position: absolute;
    inset: 0;
    height: auto;
  }

  .slider-item[data-inverted="false"] {
    transform: translate3d(120%, 0, 0);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease, transform 0s ease;
    animation: slider-not-active 0.7s ease forwards;
  }

  .slider-item-active[data-inverted="false"] {
    position: absolute;
    inset: 0;
    height: 100%;
    opacity: 1;
    animation: slider-active 0.7s ease forwards;
  }

  .slider-item[data-inverted="true"] {
    transform: translate3d(120%, 0, 0);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease, transform 0s ease;
    animation: slider-not-active-inverted 0.7s ease forwards;
  }

  .slider-item-active[data-inverted="true"] {
    position: absolute;
    inset: 0;
    height: 100%;
    opacity: 1;
    animation: slider-active-inverted 0.7s ease forwards;
  }

  .slider-overlay {
    opacity: 0.2;
  }

  .slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slider-buttons.desktop {
    display: flex;
  }

  .slider-buttons.mobile {
    display: none;
  }

  .slider-buttons .symbol {
    font-size: 3rem;
  }

  .reel-h1 h1 {
    font-size: 3.5rem;
  }

  .reel-item {
    position: absolute;
    inset: 0;
    transition: transform 0.025s ease, opacity 0.5s ease;
  }

  .intro-desc-container {
    padding: 8rem 4rem;
    height: 100vh;
  }

  .bg-moving-1 {
    position: absolute;
    top: 10%;
    left: -10%;
    opacity: 0;
    width: calc(350px + 25vw);
    height: calc(350px + 25vw);
    background-color: var(--color-green-faded);
    animation: bg-moving-1 forwards 40s linear infinite;
  }

  .bg-moving-2 {
    position: absolute;
    top: 0%;
    left: 60%;
    opacity: 0;
    width: calc(450px + 25vw);
    height: calc(450px + 25vw);
    background-color: var(--color-orange-faded);
    animation: bg-moving-2 forwards 45s linear infinite;
    animation-delay: 2s;
  }

  .intro-desc-wrapper {
    align-items: flex-end;
  }

  .intro-desc {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem;
  }

  .intro-desc-text {
    color: var(--color-white);
    flex-basis: 70%;
  }

  .intro-desc-text h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }

  .intro-desc-text p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  .projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .projects-container {
    position: relative;
    width: 100%;
    height: 1800px;
  }

  .projects-item-text {
    padding: 0 2rem 2rem 1.3rem;
  }

  .projects-item-text h3 {
    font-size: 2rem;
  }

  .projects-item-text h2 {
    font-size: 3rem;
  }

  .projects-item:hover .projects-item-text h3,
  .projects-item:hover .projects-item-text h2 {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .projects-item:hover .projects-item-img {
    transform: scale(1.04) translate3d(calc(1px + 0.5vw), 0px, 0);
  }

  .projects-item:hover .projects-img-filter {
    background-color: rgba(8, 8, 8, 0.2);
  }

  .partners-container {
    padding: 8rem 0;
  }

  .partner-item {
    width: 20vw;
  }

  .partners-heading {
    font-size: 3rem;
    padding: 0 4rem;
    margin-bottom: 3rem;
  }

  .partners-heading h3 {
    margin-top: 10px;
    font-size: 1.7rem;
  }

  .partner-items:first-child {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  .partner-items:nth-child(2) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  .destacados-container {
    padding: 8rem 4rem;
  }

  .destacados {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .destacados-item {
    position: relative;
    width: 200px;
    height: 600px;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  }

  .destacados-item a {
    display: block;
  }

  .destacados-item:hover {
    width: 800px;
    transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  }

  .destacados-overlay,
  .expand-item {
    display: none;
  }

  .destacados-img {
    position: absolute;
    inset: 0;
  }

  .destacados-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .destacados-text {
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 100%;
    padding: 2rem;
    transition: all 0.4s cubic-bezier(0.28, -0.03, 0, 0.99);
  }

  .destacados-heading {
    font-size: 3rem;
  }

  .destacados-item:hover .destacados-text {
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  }

  .destacados-text h2 {
    font-size: 3rem;
    font-family: var(--font-title);
    margin-bottom: 1rem;
  }

  .destacados-text p {
    font-size: 1.2rem;
  }

  .destacados .video-container iframe {
    width: 800px;
    height: 450px;
  }

  /* <AboutPage /> */

  /* <ContactPage /> */
  .contact-info-wrapper .main-content {
    flex-direction: row-reverse;
  }

  .contact-info-container {
    padding: 15rem 3rem;
    height: 100%;
    width: 100%;
  }

  .contact-info-text h1 {
    font-size: 3.5rem;
  }

  .contact-info-item .symbol {
    font-size: 2rem;
  }

  .contact-info {
    position: relative;
    gap: 2.2rem;
    margin-bottom: 3rem;
  }

  .contact-info-item span {
    font-size: 1.2rem;
    position: relative;
    padding: 5px 0;
  }

  .contact-info-item span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background-color: white;
    transition: 0.5s ease all;
  }

  .contact-info-item:hover span::after {
    transform: scaleX(1);
  }

  .contact-img-container {
    height: 100%;
  }

  .contact-social-container .icon-container {
    margin-bottom: 2rem;
  }

  .contact-social-container .icon-container svg {
    width: 25px;
    height: 25px;
  }

  /* .contact-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, var(--color-dark) 30%, transparent 100%);
    width: 30px;
    height: 100%;
    z-index: 99;
  } */

  /* <ServicesPage /> */
  .services {
    /* grid-template-columns: 1fr 1fr; */
  }

  /* <ProjectsPage /> */

  /* <Footer /> */
  .footer {
    padding: 4rem 2rem;
  }

  .footer-info-container {
    gap: 50px;
  }

  .footer-flex {
    flex-direction: row;
    gap: 30px;
  }
}
